	input[type="submit"]{
		padding: 18px;
		width: 420px;
		display: block;
		margin-left: 10px; 
		border: none;
		background-color: red;
		color: white;
		font-size: 15px;
		font-weight: bold;
	}
	input[type="submit"]:hover{
		cursor: pointer;
		box-shadow: 8px 8px 20px gray;
	}