	table{
		padding-top: 10px;
		padding-bottom: 10px;
		border: none;
		width: 800px;
		margin: auto;
		height: 500px;
		background-color: white;
	}
	table:hover{
		box-shadow: 5px 8px 40px black;
	}
	table td{
		padding: 25px;
		border: none;
		width: 450px;
		max-width: 450px;
		min-width: 450px;
		overflow: hidden;
	}
	.table{
		margin-top: 200px;
		margin-bottom: 200px;
	}
	table td.border{
		border-left: 1px solid rgba(26, 26, 26, 0.9);
	}