{% extends 'base.html' %}
{% block b1 %}
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/static/Home.css">
<style type="text/css">
		.parent{
			background-color: red;
			padding: 30px;
			border-radius: 8px;
			display: inline-block;
		}
		.child1{
			border-top: 8px solid white;
			border-right: 8px solid white;
			padding: 10px 10px 0px 0px;
		}
</style>
{% endblock %}
{% block b2 %}
<div class="container">
	<div style="background-color: #262626;padding: 10px">
		<div class="parent">
			<div class="child1">
				<div class="child1">
					<div class="child1" style="background-color: white"></div>
				</div>
			</div>
		</div><div style="display: inline-block;margin: 0px 0px 5px 5px;">
			<p style="margin:0px;margin-top: 35px;font-size: 40px;color: white;font-weight: bolder;font-family: fantasy;letter-spacing: 2px;">CHITKARA</p>
			<p style="margin:0px;font-size: 30px;font-weight: lighter;color: white;">UNIVERSITY</p>
		</div>
	</div>
	<ul>
		<li class="dropdown">
	    <a href="" class="dropbtn">Student Info</a>
	    <div class="dropdown-content">
	      <a href="#">Complete Info</a>
	      <a href="#">Placement Info</a>
	      <a href="#">Apply Duty/Medical Leave</a>
	      <a href="">Display Institute Notices</a>
	      <a href="">Display Institute Events</a>
	      <a href="">Display Admin Messages</a>
	      <a href="">Display All Alerts</a>
	      <a href="">Task Manager</a>
	      <a href="">Download Section</a>
	      <a href="">Gate Pass</a>
	      <a href="">Change Password</a>
	    </div>
		</li>
		<li class="dropdown"><a href="" class="dropbtn">Facility</a>
			<div class="dropdown-content">
				<a href="">Hostel Facility</a>
				<a href="">Transport Facility</a>
			</div>
		</li>
		<li class="dropdown">
			<a href="" class="dropbtn">Dues</a>
			<div class="dropdown-content">
				<a href="">Online Net Banking Fee Payment</a>
				<a href="">Fines</a>
				<a href="">Fee Payment History</a>
				<a href="">Other Dues Paid History</a>
			</div>
		</li>
		<li class="dropdown">
			<a href="" class="dropdown">Academic Details</a>
			<div class="dropdown-content">
				<a href="">Time Table</a>
				<a href="">Resources</a>
				<a href="">Display Attendance</a>
				<a href="">Display Marks</a>
				<a href="">Display Grade Card</a>
				<a href="">Assignment</a>
			</div>
		</li>
		<li class="dropdown">
			<a href="" class="dropdown">Feedback/Quiz</a>
			<div class="dropdown-content">
				<a href="">Student Feedback Form</a>
				<a href="">Advance Feedback Form</a>
			</div>
		</li>
		<li><a href="">XLPAT</a></li>
		<li><a href="">Hostel Checkout</a></li>
		<li><a href="">Online Request</a></li>
		<li class="dropdown">
			<a href="" class="dropdown">Registration Form</a>
			<div class="dropdown-content">
				<a href="">Placement</a>
				<a href="">Reappear Registration Form</a>
				<a href="">Modular Registration Form</a>
				<a href="">Online Registration Form</a>
				<a href="">Online Toast Master Registration</a>
				<a href="">Online E-CELL Registration</a>
			</div>
		</li>
	</ul>


	<div class="twitter-container topdown">
		<div class="tbox1 div">
			<div class="fa fa-twitter" style="font-size: 100px;color: #1a66ff;padding: 0px;"></div>
		</div>
		<div class="tbox2 div">
			ksc
		</div>
		<div class="tbox3 div">
			<div class="fa fa-facebook icon"></div>
			<div class="fa fa-twitter icon"></div>
			<div class="fa fa-youtube icon"></div>
		</div>
	</div>


	<div class="flex-container topdown topdown">
		<div class="container-box">
			<div class="box">
				<div class="subCardImage">
					<img src=" cd" style="display: inline;">
				</div>
				<div class="subCardContent">
					<h3 style="display: inline;">
					APPLY DUTY/MEDICAL LEAVE
					</h3>
					<p>Apply Duty/ Medical Leave online</p>
				</div>
			</div>
		</div>
		<div class="container-box">
			<div class="box">
				<div class="subCardImage">
					<img src=" cd" style="display: inline;">
				</div>
				<div class="subCardContent">
					<h3 style="display: inline;" align="left">
					GATE PASS
					</h3>
					<p>Student required this Gate Pass whenever he/she enters/left the university</p>
				</div>
			</div>
		</div>
		<div class="container-box">
			<div class="box">
				<div class="subCardImage">
					<img src=" cd" style="display: inline;">
				</div>
				<div class="subCardContent">
					<h3 style="display: inline;" align="left">
					MARKS
					</h3>
					<p>Coursewise marks in Practicals/Theories/ Sessionals/Assignments in accordance with the semester can be viewed.</p>
				</div>
			</div>
		</div>
		<div class="container-box">
			<div class="box">
				<div class="subCardImage">
					<img src=" cd" style="display: inline;">
				</div>
				<div class="subCardContent">
					<h3 style="display: inline;" align="left">
					GRADE INFO
					</h3>
					<p>Overall Grade list or grade list of respective semeter can be viewed</p>
				</div>
			</div>
		</div>
		<div class="container-box">
			<div class="box">
				<div class="subCardImage">
					<img src=" cd" style="display: inline;">
				</div>
				<div class="subCardContent">
					<h3 style="display: inline;" align="left">
					FACILITY
					</h3>
					<p>Hostel Facility Transport facility</p>
				</div>
			</div>
		</div>
	</div>


	<div class="Activitys-container topdown">
		<div class="Abox1">
			<div class="Activity-sub-conatiner">
				<div class="ASbox-Recent-Activity">
					<div style="background-color: #262626;min-width: 350px;padding: 10px;font-size: 25px;color: white;">Recent Activity</div>
					<div style="padding: 10px;"><button>Notice</button><button>Last Uploaded Resources</button><button>Download Section</button></div>
						<div style="margin: 5px;font-size: 25px;">
							<div class="Entity">1</div>
							<div class="Entity">2</div>
							<div class="Entity">3</div>
							<div class="Entity">4</div>
							<div class="Entity">5</div>
							<div class="Entity">6</div>
							<div class="Entity">7</div>
							<div class="Entity">8</div>
							<div class="Entity">9</div>
							<div class="Entity">10</div>
						</div>
				</div>
				<div class="ASbox-Recent-Activity">
					<div style="background-color: #262626;min-width: 350px;padding: 10px;font-size: 25px;color: white;">Alerts</div>
						<div style="margin: 5px;font-size: 25px;">
							<div class="Entity">1</div>
							<div class="Entity">2</div>
							<div class="Entity">3</div>
							<div class="Entity">4</div>
							<div class="Entity">5</div>
							<div class="Entity">6</div>
							<div class="Entity">7</div>
							<div class="Entity">8</div>
							<div class="Entity">9</div>
							<div class="Entity">10</div>
						</div>
				</div>
				<div class="ASbox-Recent-Activity">
					<div style="background-color: #262626;min-width: 350px;padding: 10px;font-size: 25px;color: white;">Patents Field</div>
						<div style="margin: 5px;font-size: 25px;">
							<div class="Entity">1</div>
							<div class="Entity">2</div>
							<div class="Entity">3</div>
							<div class="Entity">4</div>
							<div class="Entity">5</div>
							<div class="Entity">6</div>
							<div class="Entity">7</div>
							<div class="Entity">8</div>
							<div class="Entity">9</div>
							<div class="Entity">10</div>
						</div>
				</div>
				<div class="ASbox-Recent-Activity">
					<div style="background-color: #262626;min-width: 350px;padding: 10px;font-size: 25px;color: white;">Academic Calender</div>
						<div style="margin: 5px;font-size: 25px;">
							<div class="Entity">1</div>
							<div class="Entity">2</div>
							<div class="Entity">3</div>
							<div class="Entity">4</div>
							<div class="Entity">5</div>
							<div class="Entity">6</div>
							<div class="Entity">7</div>
							<div class="Entity">8</div>
							<div class="Entity">9</div>
							<div class="Entity">10</div>
						</div>
				</div>
				<div class="ASbox-Recent-Activity">
					<div style="background-color: #262626;min-width: 350px;padding: 10px;font-size: 25px;color: white;">Attendence</div>
						<div style="margin: 5px;font-size: 25px;">
							<div class="Entity">1</div>
							<div class="Entity">2</div>
							<div class="Entity">3</div>
							<div class="Entity">4</div>
							<div class="Entity">5</div>
							<div class="Entity">6</div>
							<div class="Entity">7</div>
							<div class="Entity">8</div>
							<div class="Entity">9</div>
							<div class="Entity">10</div>
						</div>
				</div>
			</div>
		</div>
		<div class="Abox2">
			<div class="Activity-sub-conatiner">
				<div class="ASbox-Recent-Activity">
					<div style="background-color: #262626;min-width: 350px;padding: 10px;font-size: 25px;color: white;">Opportunity Activity</div>
						<div style="margin: 5px;font-size: 25px;">
							<div class="Entity">1</div>
							<div class="Entity">2</div>
						</div>
					</div>
				</div>
				<div class="ASbox-Recent-Activity" style="background-color: #262626;">
					<div style="background-color: #262626;min-width: 350px;padding: 10px;font-size: 25px;color: white;">Idea Box</div>
						<div>
							<textarea style="margin: 5px;font-size: 20px;min-width: 500px;min-height: 300px;outline:none;border:none;padding: 10px;background-color: white;max-width: 600px"  placeholder="Thoughtfull ideas are valued, respected and encouraged. The purpose of the idea box is to generate constructive idea, suggestions, and brainstorms from you. Our aim is to help you achieve innovate excellence inside your own university by making innovation resources, answers, and best practices accessible for the greater good."></textarea>
						</div>
					</div>
					<div class="ASbox-Recent-Activity">
					<div style="background-color: #262626;min-width: 350px;padding: 10px;font-size: 25px;color: white;">Birthday Wishes</div>
						<div style="margin: 5px;font-size: 25px;">
							<div class="Entity">1</div>
							<div class="Entity">2</div>
							<div class="Entity">3</div>
							<div class="Entity">4</div>
							<div class="Entity">5</div>
							<div class="Entity">6</div>
							<div class="Entity">7</div>
							<div class="Entity">8</div>
							<div class="Entity">9</div>
							<div class="Entity">10</div>
						</div>
					</div>
				</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}