{% extends 'base.html' %}
{% block b1 %}
<link rel="stylesheet" type="text/css" href="/static/Login.css">
{% endblock %}
{% block b2 %}
<div class="container">
	<center><img src="/static/chalkpad_logo.PNG" width="20%" height="20%" style="display: block;margin: 30px"></center>
	<div class="table top">
	<table border="1" cellpadding="0" cellspacing="0">
		<tr>
			<td>
				hvsahvhgsc
			</td>
			<td class="border">
				<div class="box">
					<form action="{% url 'in' %}" method="post">
						{% csrf_token %}
					<p style="font-size: 18px;font-weight: lighter;margin-top: 15px;margin-bottom: 5px;opacity: 0.8;">USERNAME</p>
					<input type="text" name="username" autofocus required id="id_username" class="textbox" placeholder="ENTER YOUR ID">

					<p style="font-size: 18px;font-weight: lighter;margin-top: 15px;margin-bottom: 5px;opacity: 0.8;">PASSWORD</p>
					<input type="password" class="textbox" name="password" required id="id_password" placeholder="PASSWORD">

					<p style="font-size: 18px;font-weight: lighter;margin-top: 15px;margin-bottom: 5px;opacity: 0.8;">INSTITUTE</p>
					<select>
						<option>CUIET</option>
					</select>

					<p style="font-size: 18px;font-weight: lighter;margin-top: 15px;margin-bottom: 5px;opacity: 0.8;">SESSION</p>
					<select>
						<option>2018-2019</option>
						<option>2017-2018</option>
						<option>2016-2017</option>
						<option>2015-2016</option>
						<option>2014-2015</option>
						<option>2013-2014</option>
						<option>2012-2013</option>
						<option>2011-2012</option>
						<option>2010-2011</option>
						<option>2009-2010</option>
						<option>2008-2009</option>
						<option>2006-2007</option>
						<option>2005-2006</option>
					</select>
					<div class="btn"><input type="submit" name="" value="LOGIN"></div>
					<a style="text-decoration: none;color: red;font-weight: lighter;font-size: 18px;display: block;margin-top: 10px;margin-left: 10px;">Forget Password</a>
				</form>
				</div>
			</td>
		</tr>
	</table></div>
</div>
{% endblock %}