	.btn a{
		display: inline-block;
		background-color: red;
		width: 70px;
		height: 25px;
		float: left;
		padding: 15px;
		font-size: 20px;
		margin: 15px;
		text-align: center;
		border-radius: 5px;
		transition: height 1s, letter-spacing 1s, font-size 1s, color 1s, background-color 1s;
		text-decoration: none;
		color: white;
	}
	.btn:hover a{
		height: 20px;
		letter-spacing: 2px;
		cursor: pointer;
		background-color: white;
		color: red;
		border-bottom: 1px solid red;
		box-shadow: 8px 10px 10px rgb(153, 153, 102);
	}
	.btn:active a{
		margin-top: 16px; 
		box-shadow: 7px 8px 10px rgba(153, 153, 102, 0.5);
	}